
#mi-encabezado {
background-image: url('img/imagen2.webp');
background-size: cover; 
background-position: center; 
height: 35rem; 

color: #070707; /* Color del texto en el encabezado para asegurar la legibilidad */
color: #000000;
text-orientation: upright;
text-align: center; /* Alinea el contenido al centro del encabezado */
padding: 20px; /* Espacio de relleno interno para el contenido */

}

/* Estilos adicionales para el Título en el encabezado */
#mi-encabezado h1 {
font-size: 45px; /* Tamaño de fuente del título */
font-family: Arial, Helvetica, sans-serif;
}

/* Estilos adicionales para el texto en el encabezado */
#mi-encabezado p {
font-size: 25px; /* Tamaño de fuente del texto del encabezado */
}

/*CONFIGURACION DEL MENU*/

nav {
background-color: rgba(226, 177, 226, 0.849);
padding: 20px;
position: fixed; /* Posiciona el menú en la parte superior de la página */
top: 0;
left: 0;
width: 100%;
transition: background-color 0.5s; /* Transición suave para el cambio de color de
fondo */

}

/* Estilos para los elementos menu*/
ul {
list-style-type: none;
text-align: right;
margin-right: 3rem;
}

/*elementos de la lista del menu*/
li {
display: inline;
margin-right: 30px; /* Espacio entre elementos del menú */
}

a {
text-decoration: none;
color: #000000; /* Color del texto del menú */
font-weight: bold;
}

/* Cambia el color del enlace cuando se pasa el mouse por encima */
a:hover {
color: #2fcf8c; /* Cambia el color al pasar el mouse por encima */
}

/*CONFIGURACION DEL BODY*/
body {
/*configura los margenes de la página*/
margin-top: 0px; /* Ajusta según la altura del menú */
margin-left: 0px;
margin-right: 0px;
font-family: Arial, Helvetica, sans-serif;
}

.contenido {
color: #000000;
font-size: 20px;
padding: 5%;
text-align: justify;
}

.footer {
background-color: rgb(207, 156, 203); /* Cambia el color de fondo a azul */
padding: 10rem;
color: #050505;
color: #000000; /* Color del texto en el encabezado para asegurar la legibilidad */
text-align: center; /* Alinea el contenido al centro del encabezado */ 
}